body {
    background-color: #e0f7fa;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    background-color: #fff;
    border-radius: 10px;
    padding: 10px;
    max-width: 400px;
    margin: 10px auto;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #00796b;
    margin: 10px 0;
}

p {
    text-align: center;
    margin: 5px 0;
}

.logo {
    display: block;
    margin: 5px auto;
    max-width: auto;
}

.logo-container {
    text-align: center;
    margin: 10px 0;
}

.logo_02 {
    display: inline-block;
    margin: 0 5px;
    max-width: 120px;
}

.social-icons {
    text-align: center;
    margin: 10px 0;
}

.social-icons a {
    margin: 0 5px;
    display: inline-block;
}

.social-icons img {
    width: 30px;
    height: 30px;
}

.login-form input, .login-form select {
    width: calc(100% - 20px);
    padding: 5px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.login-form button {
    width: 100%;
    padding: 10px;
    background-color: #ffeb3b;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin: 10px 0;
}

.footer {
    text-align: center;
    font-size: 12px;
    color: #757575;
    margin-top: 10px;
}
