body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
	background-color: #013A63; /* Azul petróleo para el fondo */
}

h1 {
    color: #ff9747; /* Tomato color */
}

h2 {
    color: #FFFFFF; /* Blanco */
}


.container { text-align: center; 
background-image: url ('recurso/medical-21.'); /* Cambia 'tu_imagen.jpg' al nombre de tu archivo de imagen */ 
background-size: cover; /* Asegura que la imagen cubra todo el contenedor */ 
background-position: center; /* Centra la imagen en el contenedor */ 
background-repeat: no-repeat; /* Evita que la imagen se repita */
padding: 30px; 
border-radius: 10px; 
box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
max-width: 400px; /* Limitar el ancho máximo en pantallas grandes */ 
width: 90%; /* Ancho flexible en pantallas pequeñas */ 
margin: 10px; 
}

.carousel-container {
    width: 100%;
    height: 300px; /* Ajustar la altura del carrusel según sea necesario */
    overflow: hidden;
    margin-bottom: 20px; /* Separar el carrusel del resto de elementos */
    display: flex;
    justify-content: center; /* Centrar las imágenes horizontalmente */
    align-items: center; /* Centrar las imágenes verticalmente */
    position: relative; /* Permite posicionar los elementos dentro del contenedor */
}

.carousel img {
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    height: 100%;
    object-fit: contain; /* Ajustar la imagen dentro del contenedor sin cortarla */
}

.login-form { display: flex; /* Utiliza flexbox para alinear los elementos */ 
flex-direction: column; /* Alinea los elementos en una columna */ 
align-items: center; /* Centra los elementos horizontalmente */ 
justify-content: center; /* Centra los elementos verticalmente */ 
height: 100%; /* Asegura que el contenedor ocupe toda la altura disponible */ 
padding:10px; /* Añade algo de padding para el espaciado */ 
border-radius:10px; /* Añade bordes redondeados */ 
box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Añade una sombra para destacar */ 
} 

.login-form input,
.login-form select,
.login-form button {
    display: block;
    width: 100%;
    margin: 10px 0;
    padding: 10px;
	border-radius:10px; /* Añade bordes redondeados */ 
    box-sizing: border-box; /* Asegura que el padding no afecte el ancho total */
}

.login-form button {
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}


.login-form button:hover {
    background-color: #0056b3;
}

.footer {
    margin-top: 20px;
}

.text-links {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; /* Asegura que los elementos se adapten a diferentes tamaños de pantalla */
    gap: 10px; /* Añade espacio entre los elementos */
}

.text-links a {
    margin: 0 65px;
    text-decoration: none;
    color: #007BFF;
    font-weight: bold;
    transition: color 0.3s;
}

.text-links a:hover {
    color: #0056b3; /* Cambia el color al pasar el ratón por encima */
}

.social-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.social-icons img {
    margin: 0 10px;
    max-width: 40px; /* Limitar el ancho máximo de las imágenes */
    height: auto; /* Mantener la proporción */
}

.p {
    margin-top: 20px;
    font-size: 12px;
    color: #888;
    text-align: center;
}

.toast {
    visibility: hidden;
    max-width: 50px;
    margin-left: -125px;
    margin: auto;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    font-size: 17px;
}

/* Media Queries para Responsividad */

@media (max-width: 768px) {
    .container {
        padding: 10px;
        width: 95%; /* Ajuste del ancho en pantallas más pequeñas */
    }

    .login-form input,
    .login-form select,
    .login-form button {
        margin: 5px 0;
    }

    .footer .text-links,
    .footer .social-icons {
        flex-direction: row; /* Asegura que los elementos se mantengan en una línea */
        justify-content: center;
    }

    .footer .text-links a,
    .footer .social-icons img {
        margin: 5px;
    }
}

/* Media Queries para muy pequeñas pantallas (teléfonos) */

@media (max-width: 480px) {
    .login-form h2 {
        font-size: 18px; /* Ajustar tamaño de fuente para pantallas muy pequeñas */
    }

    .login-form input,
    .login-form select,
    .login-form button {
        padding: 8px; /* Reducir padding para mejorar el ajuste */
        font-size: 14px; /* Ajustar tamaño de fuente */
    }

    .footer .text-links a,
    .footer .social-icons img {
        margin: 3px; /* Reducir márgenes para mejorar el ajuste */
    }
}

.not-connected-link {
    display: block;
    margin-top: 20px;
    text-decoration: none;
    color: #FFFFFF; /* Blanco color para que destaque */
    font-weight: bold;
    font-size: 16px;
    text-align: center;
    transition: color 0.3s, transform 0.3s; /* Transiciones suaves para interactividad */
}

.not-connected-link:hover {
    color: #FF4500; /* Darker tomato color al pasar el ratón por encima */
    transform: scale(1.05); /* Pequeño agrandamiento al pasar el ratón por encima */
}
